<div>
  <div style="background-color: #<% @last_color_swatches.color_1 %>"></div>
  <div style="background-color: #<% @last_color_swatches.color_2 %>"></div>
  <div style="background-color: #<% @last_color_swatches.color_3 %>"></div>
  <div style="background-color: #<% @last_color_swatches.color_4 %>"></div>
  <div style="background-color: #<% @last_color_swatches.color_5 %>"></div>
</div>

