<% if @version.comments.each do |comment| %>
  <div class="draggable comment">
    <div class="hand-icon" data-commentid="<%= comment.id %>"> </div>
    <% if comment.image.present? %>
      <%= cl_image_tag(comment.image_url, width: "300", height: "auto", alt: "erreur", draggable: false) %>
      <div class="paint-comment">
        <canvas class="drawable"></canvas>
      </div>
    <% end %>
    <% if comment.description.present? %>
      <div class="comment-text">
        <%= comment.description %>
      </div>
    <% end %>
  </div>
<% end %>
<% end %>
