
<%= @project.versions.last.name %>
<% if @project.versions.last.photo.present? %>
  <%= cl_image_tag(@project.versions.last.photo, size: "400x400", alt: "work in progress", class:"draggable work_in_progress", draggable: false) %>
<% end %>

<button type="button" class="btn btn-primary btn-circle-plus" data-toggle="modal" data-target="#colorSwatch">
<i class="fas fa-plus"></i>
</button>
