<% if @project.versions.last.photo.present? %>
  <div>
    <%= cl_image_tag(@project.versions.last.photo, width: "400px", height: "auto", alt: "work in progress", class:"draggable work_in_progress", draggable: false) %>
    <canvas></canvas>
  </div>
<% end %>
