// Define variables for your color scheme

// For example:
$red: #ED1102;
$pink: #FBDED3;
$blue: #3256E2;
$light-blue: #e8fafe;
$yellow: #FED149;
$orange: #E67E22;
$green: #1EDD88;
$gray: #24292e;
$light-gray: #F1F1F1;
$very-light-grey: #F1F1F1;
