.dashboard h1 {
  color: black;
  font-style: bold;
  font-weight: 120;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-size: 7vw;
  padding: 0 30px;
  margin-top: 20px;
  margin-bottom: 5px;
}
