body {
  text-align: center;
  font-family: 'Open Sans';
  color: black;
}

#wrapper {
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 1);
    /*
    display:none
    */;
}

.container h1 {
  color: black;
  font-style: bold;
  font-weight: 120;
  font-family: 'Montserrat', sans-serif;
  font-size: 7vw;
  padding: 0 30px;
  margin-top: 70px;
  margin-bottom: 5px;
}

.container a {
  color: $blue;
  font-style: bold;
  text-decoration: none;
  background: $light-blue;
  padding: 4px 17px 6px;
}

.container a:hover {
  padding: 6px 19px 9px;
}

.container h2 {
  font-family: 'Montserrat', sans-serif;
  -webkit-background-clip: text;
  padding: 0 20px;
  font-size: 3vw;
  color: black;
  margin-bottom: 50px;
}

@media all and (max-width: 480px){
  h1 {
    padding: 0 0 25px 0;
    font-size: 12vw;
  }
  h2 {
    font-size: 7vw;
  }
}
