.version-title h2 {
  color: black;
  background-color: white;
  font-weight: 120;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 5vw;
  padding: 0 30px;
  margin-bottom: 20px;
}

.header {
  padding-top: 50px;
  background-color: white;
  border-bottom: 3px solid $black;
  position: relative;
}

.container-fluid-versions {
  padding: none;
}
