<% if @version.present? %>
  <div class="draggable work_in_progress">
    <%= cl_image_tag(@version.photo, width: "400", height: "auto", alt: "work in progress", class:"draggable", draggable: false) %>
  </div>
<% end %>

