<div class="container">
  <div class="title">
    <h1><strong>Ab See</strong></h1>
    <h2>Effective briefs for <strong>creative people</strong>.</h2>
  </div>
    <div class="cta">
      <%= link_to "GET STARTED", new_user_session_path, class: "a" %>
    </div>
</div>

