<div class="container">
  <div class="title">
    <h1><strong>Ab See</strong></h1>
    <h2>Effective briefs for <strong>creative people</strong>.</h2>
  </div>
    <div class="cta">
      <%= link_to "GET STARTED", new_user_session_path, class: "a" %>
    </div>
</div>



<div class="modal fade" id="welcome" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-center ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Welcome to Ab see</h5>
      </div>
      <div class="modal-body">
        <p>What you are about to experiment is a prototype made in two weeks by Alice Deveaux, Antoine Shmidt and Aurian Guerard des Lauriers, after an original idea by Aurian Guerard des Lauriers, during Le Wagon bootcamp in Paris. <br> <br> We are currently still trying to improve it, and your feedback will be more than valuable to us, please reach out to us ! <br> <br> Feel free to play with it as much as you want, but keep in mind that this is a prototype. ABsee will most certainly be transformed in many ways. We will have to modify the structure of our database. Which means we can garantee the integrity of your data for now.</p>
      </div>
    </div>
  </div>
</div>
