<div class="container">
  <div class="title">
    <h1><i>Ab See</i></h1>
    <h1><strong><i>Ab See</i></strong></h1>
    <h1>Ab See</h1>
  </div>
    <div class="cta">
      <%= link_to "GET STARTED", new_user_session_path, class: "a" %>
    </div>
</div>

