<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <h1>Create a new project</h1>
        <%= simple_form_for(@project) do |f| %>
        <div class="row">
          <div class="col-xs-6">
            <%= f.input :name, placeholder: "Project Name" %>
          </div>
            <div class="col-xs-6">
              <%= f.input :brief, placeholder: "Project Brief" %>
            </div>
              <%= link_to, new_project_path, class: "btn-circle-save" do %>
              <i class="fas fa-check"></i>
              <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<button class="btn-circle-comment" data-toggle="modal" data-target="#newComment">
<i class="far fa-comment-dots"></i>
</button>
