<div class="container">

  <div class="version-title">
    <h2>PROJECT HISTORY</h2>
  </div>

  <% @versions.each do |version| %>
  <div class="card-version mb-3">
    <img src="" alt="">
    <div class="card-version-infos">
      <h5><%= @project.name %></h5>
      <p>"<%= @project.brief %>"</p>
      <p><%= version.name %></p>
        <div class="card-version-btn">
          <%= link_to project_versions_path(@project) do %>
            <button class="btn-circle-view"><i class="fas fa-eye"></i></button>
          <% end %>
        </div>
    </div>
  </div>
  <% end %>
</div>


