<h1>Sandbox#show</h1>
<p>Find me in app/views/sandbox/show.html.erb</p>
<div class="moodboard">
  <div class="draggable"  style=" height: 100px; width: 100px; background: red; position: absolute;">

  </div>
  <div class="draggable"  style=" height: 100px; width: 100px; background: blue; position: absolute;">

  </div>
</div>
