<h1>Sandbox#show</h1>
<p>Find me in app/views/sandbox/show.html.erb</p>
<div class="moodboard d-flex justify-content-center">
  <div class="hand-icon draggable"  style=" height: 100px; width: 100px; background: red; position: absolute;">

  </div>


  <div class="hand-icon draggable" style=" height: 100px; width: 100px; background: blue; position: absolute;">

  </div>
  <div>
    <canvas class="drawable" width="400" height="400">

    </canvas>
  </div>

<!-- Rounded switch -->


<label class="switch  href="#" onclick="visibility_toggle('foo');"">
  <input type="checkbox">
  <span class="slider round"></span>
</label>


  <div id="foo" style="height: 200px; width: 200px; background-color: green;">

  </div>
</div>

<!-- <script>
function toggle_visibility(id) {
       var e = document.getElementById(id);
       console.log(e)
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script> -->
