<div class="dashboard container d-flex">
  <h1>DASHBOARD</h1>
  <% current_user.projects.each do |project| %>
  <div class="card version">
    <div class="card-version-infos">
      <p><%= project.name %></p>
      <p><%= project.brief %></p>
      <%= link_to project_path(project) do %>
        <button class="btn-circle-view"><i class="fas fa-eye"></i></button>
      <% end %>
    </div>
  </div>
</div>
