.background-moodboard {
  background-image: url('https://res.cloudinary.com/dav38qg9f/image/upload/v1567099102/Image_d_iOS_nxrngx.png');
  background-repeat: repeat;
}

.background-homepage {
  background-image: url('https://res.cloudinary.com/dav38qg9f/image/upload/v1567103006/Composition_A_by_Piet_Mondrian_Galleria_Nazionale_d_Arte_Moderna_e_Contemporanea_h4rv6v.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
