.background-moodboard {
  background-image: url('https://res.cloudinary.com/de6fhitzz/image/upload/v1567442416/background_dfuu4d.png');
  background-repeat: repeat;
}

.background-homepage {
  background-image: url('https://res.cloudinary.com/de6fhitzz/image/upload/v1567418775/essai_qxtani.png');
  background-repeat: no-repeat;
  max-width: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
