.btn-flat {
  font-size: 0.75rem;
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: black;
  color: white;
}

.btn-circle {
  color: $grey-blue;
  background: $very-light-grey;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  border: $gray;
}

.btn-circle:hover {
  color: $blue;
  background: $very-light-grey;
}

.btn-circle-save {
  color: $grey-blue;
  background: $very-light-grey;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  border: $gray;
}

.btn-circle-save:hover {
  color: $green;
  background: $very-light-grey;
}

.btn-circle-plus {
  color: $grey-blue;
  background: $very-light-grey;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 30px;
  line-height: 1.428571429;
  border-radius: 30px;
  border: $gray;
}

.btn-circle-plus:hover {
  width: 66px;
  height: 66px;
  font-size: 33px;
  color: $grey-blue;
  background: $very-light-grey;
  border-radius: 33px;
}
