button:focus {
  outline:0;
}

.btn-flat {
  font-size: 0.75rem;
  color: $blue;
  padding: 4px 17px 6px;
  border-radius: 4px;
  background-color: $light-blue;
  transition: background 0.3s ease;
  border: none;
}

.btn-flat:hover {
  padding: 6px 19px 9px;
}

.btn-circle-save {
  margin: 0 auto;
  color: black;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 3px 0;
  font-size: 22px;
  line-height: 1.428571429;
  border-radius: 20px;
  border: 3px solid black;
}

.btn-circle-save:hover {
  color: white;
  background-color: $yellow;
  border: 3px solid $yellow;
}

.btn-circle-paint {
  color: black;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 3px 0;
  font-size: 20px;
  line-height: 1.428571429;
  border-radius: 20px;
  border: none;
}

.btn-circle-paint:hover {
  color: white;
  background-color: $blue;
}

.btn-circle-comment {
  color: black;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 3px 0;
  font-size: 23px;
  line-height: 1.428571429;
  border-radius: 20px;
  border: none;
}

.btn-circle-comment:hover {
  color: white;
  background-color: $yellow;
}

.btn-circle-version {
  color: black;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 3px 0;
  font-size: 23px;
  line-height: 1.428571429;
  border-radius: 20px;
  border: none;
}

.btn-circle-version:hover {
  color: white;
  background-color: $red;
}

.btn-circle-artist {
  color: black;
  background: white;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 30px;
  line-height: 1.428571429;
  border-radius: 30px;
  border: 3px solid black;
}

.btn-circle-artist:hover {
  color: $red;
  border: 3px solid $red;
}

.btn-circle-view {
  color: black;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 3px 0;
  font-size: 22px;
  line-height: 1.428571429;
  border-radius: 20px;
  border: none;
}

.btn-circle-view:hover {
  color: white;
  background-color: $yellow;
}

.btn-circle-view-big {
  color: black;
  background: white;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 30px;
  line-height: 1.428571429;
  border-radius: 30px;
  border: 3px solid black;
}

.btn-circle-view-big:hover {
  color: $yellow;
  border: 3px solid $yellow;
}

.btn-circle-plus {
  color: black;
  background: white;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 30px;
  line-height: 1.428571429;
  border-radius: 30px;
  border: 3px solid black;
}

.btn-circle-plus:hover {
  color: $blue;
  border: 3px solid $blue;
}

.btn-circle-versions {
  color: black;
  background: white;
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 6px 0;
  font-size: 30px;
  line-height: 1.428571429;
  border-radius: 30px;
  border: 3px solid black;
}

.btn-circle-versions:hover {
  color: $yellow;
  border: 3px solid $yellow;
}

// toggle button

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
