.card-version {
  overflow: hidden;
  height: 170px;
  width: -webkit-fit-content;
  background: white;
  border: 3px solid black;
  display: flex;
  align-items: center;
  margin: auto;
}

.card-version img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-version h2 {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.card-version h5 {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.card-version p {
  font-size: 12px;
  line-height: 1.4;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
}

.card-version .card-version-infos {
  height: 100%;;
  background: white;
  border-left: 3px solid black;
  padding: 0px 0px 0px 5px;
}

.card-version .card-version-btn {
  height: 100%;
  background: white;
  margin: auto;
  padding: 0px 0px 0px 5px;
}

