.color {
  height: 80px;
  width: 80px;
  margin: 5px;
  border: 5px solid white;
}

.color_swatch {
  position: absolute;

  .stuff {
    padding: 10px;
    background-color: white;
  }

  .hand-icon  {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 10px 10px 0 0;
  background-color: black;
  }
}

.edit_color_swatch {
  margin: 20px 20px 0px 22px;
  text-align: center;
}

.new_color_swatch {
  margin: 20px 20px 0px 22px;
  text-align: center;
}

#color_swatch_color_1 {
  width: 70px;
  height: 70px;
  border-width: 0px;
  border-style: solid;
  border-color: white;
  padding: 0.5px 1px;
}

#color_swatch_color_2 {
  width: 70px;
  height: 70px;
  border-width: 0px;
  border-style: solid;
  border-color: white;
  padding: 0.5px 1px;
}

#color_swatch_color_3 {
  width: 70px;
  height: 70px;
  border-width: 0px;
  border-style: solid;
  border-color: white;
  padding: 0.5px 1px;
}

#color_swatch_color_4 {
  width: 70px;
  height: 70px;
  border-width: 0px;
  border-style: solid;
  border-color: white;
  padding: 0.5px 1px;
}

#color_swatch_color_5 {
  width: 70px;
  height: 70px;
  border-width: 0px;
  border-style: solid;
  border-color: white;
  padding: 0.5px 0px;
}
