.comment {
  position: absolute;
  width: auto;
  height: auto;

  img {
    object-fit: scale-down;
    background-color: white;
    margin-bottom: 10px;

  }

  .hand-icon  {
  position: relative;
  height: 20px;
  width: 20px;
  color: black;
  }
}

.paint-comment {

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .drawable {
    width: auto;
    height: auto;
    background-color: pink;
  }
}

.small {
  color: white;
}

 .comment-text {
  background-color: white;
  padding: 7px 60px 5px 30px;
 }
