.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    float: left;
    width: none;
    text-align: right;
    margin: none;
  }
}

input:focus {
  outline:0;
}

.modal-header {
  text-align: center;
  border-bottom: 3px solid black;
  margin-bottom: none;
  display: block;
}

.modal-content {
  height: 350px;
  width: 300px;
  margin: 5px;
  border: 3px solid black;
}

.modal-body {
  padding: 1rem 1rem 1rem 1rem;
}

.modal-footer {
  border-top: none;
  margin-top: 30px;
}

h5 {
  font-weight: bolder;
  text-align: -webkit-center;
}

.modal-center {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%, -50%);
  height: auto;
  width: 500px;
  margin: 5px;
  border: 3px solid black;
  color : white;
  background-color: black;

}
